:root {
    --NAVY-BLUE: #2E2F42;
    --IRIS: #4D5AE5;
    --SLATE: #434455;
    --LIGHT-SLATE:#8E8F99;
    --WHITE: #FFF;
    --CLOUD: #F4F4FD;
    --CORNFLOWER: #E7E9FC;
    --ocean: #404bbf;
}

body {
    font-family: 'Roboto', sans-serif;
}
/* GENERAL STYLING------------------------ */

.list {
    list-style-type: none;
    /* color: inherit; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.bg-dark {
    background-color: var(--NAVY-BLUE);
}

.logo {
    text-transform: uppercase;
    font-family: "Raleway";
    font-size: 18px; 
    font-weight: 800;
    line-height: 1.16;
    /* multiplier */
    letter-spacing: 0.54px;
}

.logo:hover .logo-web {
    color: green;
}

.logo .logo-web:hover {
    color: var(--iris);
}

.logo-web {
    color: var(--IRIS);
}

.link {
    text-decoration: none;   
}

.section-title {
    color: var(--NAVY-BLUE);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* multiplier */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.p-dark {
    color: var(--SLATE);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    /* 150% */
    letter-spacing: 0.32px; 
}

.about h3,
.team h3 {
    color: var(--NAVY-BLUE);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    /* 120% */
    letter-spacing: 0.4px;
}

.container {
    width: 1158px;
}

.d-flex {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.about ul,
.what-we-do ul,
.team ul {
    justify-content: center;
}

/* END OF GENERAL STYLING----------------------------- */

/* header styling----------------------------------------------- */
.header {
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.header .d-flex {
    gap: 76px;
}

.header .list {
    gap: 40px;
}

.logo-studio-nav {
    color: var(--NAVY-BLUE);
}

.nav-link {
    color: var(--NAVY-BLUE);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* multiplier */
    letter-spacing: 0.32px; 
}

.nav-link:hover,
.nav-link:focus {
    color: var(--ocean)
}

.active {
    color: var(--ocean);
}

.contacts {
    color: var(--SLATE);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* multiplier */
    letter-spacing: 0.32px;
}


/* end of header styling---------------------------- */

/* Hero section styling  */
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}

.hero-text {
    color: var(--WHITE);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.071;
    /* multiplier */
    letter-spacing: 1.12px;
    /* text-transform: uppercase; */
}

.hero-btn {
    border: none;
    border-radius: 4px;
    background: var(--IRIS);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--WHITE);
    font-weight: 500;
    line-height: 1.5;
    /* multiplier */
    letter-spacing: 0.64px;
    padding: 16px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
    cursor: pointer;
    background: var(--ocean);
}

/* end of hero section styling---------------- */

/* about section styling-------------------------------- */
.about h3 {
    color: var(--NAVY-BLUE);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    /* 120% */
    letter-spacing: 0.4px;
    margin: 8px 0;
}

.about-icon{
    padding: 24px 0;
    text-align: center;
    background-color: var(--CLOUD);
}

/* team section styling--------------------------- */
.team {
    background-color: var(--CLOUD);
}

.team-name {
    color: var(--NAVY-BLUE);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    /* 120% */
    letter-spacing: 0.4px;
    margin: 0;
}

.team .list {
    text-align: center;
}

.team .list li {
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team img {
    display: block;
}

.team-caption {
    padding: 32px 0px;

}

.team-socials {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-socials-icon {
    background-color: var(--IRIS);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-socials-icon svg {
    fill: var(--WHITE);
}

/* end of team section styling ---------------------------- */

/* customers section styling ------------------------------ */

.customer-icon {
    width: 168px;
    height: 88px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE);
    padding: 16px 32px; 
}

.customer-icon svg {
    fill: var(--LIGHT-SLATE);
}

.customer-icon:hover,
.customer-icon:focus {
    border: none;   
    background-color: var(--IRIS);
}

.customer-icon:hover svg,
.customer-icon:focus svg {
    fill: var(--WHITE);
}

/* PORTFOLIO STYLING-------------------------------------- */
.projects ul {
    width: 100%;
    flex-wrap:wrap;
}
.projects li {
    width: 360px;
}

.projects li img{
    width: 100%;
}



/* footer styling----------------------------------------- */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 156px;
}
.logo-studio-footer {
    color: var(--CLOUD);
}

.footer-text {
    color: var(--CLOUD);
    font-size: 16px;
    /* font-weight: 400; */
    line-height: 1.5;
    /* multiplier */
    letter-spacing: 0.32px;
}

/* end of footer styling--------------------------------- */